*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.subNav{
    background: url("media/winner_emblem_black.png") no-repeat center center black;
    height: 350px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    align-items: flex-end;
}

.history{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1200px;
    padding: 100px 0;
}

.historyYear {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    border-bottom: 2px solid #ec0a0b;
    margin-bottom: 10px;
}

.historyCard{
    width: 500px;
    height: auto; 
    padding: 20px;
}

.historyCard:nth-child(odd){
    margin-top: -30px;
}

.historyCard:nth-child(even){
    margin-top: 100px;
}

.historyDesc{
    line-height: 1.4;
}
