* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.historyYear {
    font-weight: bold;
    font-size: 16px;
}

.history {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

.historyCard {
    box-sizing: border-box; /* 핵심: 박스 사이즈가 테두리를 포함! */
    flex: 50%; /* 각 요소가 50%씩 차지 */
    position: relative;
    padding: 20px;
}

.historyCard:nth-child(odd) {
    border-right: 2px solid red;
}

.historyCard:nth-child(even) {
    border-left: 2px solid red;
}
