body{
}

.headerNav{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.gnb-logo{
    justify-content: center;
    align-items: center;
}

.gnb{
    justify-content: center;
    align-items: center;
    display: flex;    
    height: 100px;
    margin: auto;
    padding: 0px 50px;
}

.gnb li{
    list-style: none;
    margin: 0px 50px;
}

.gnb a{
    align-items: center;
    text-decoration: none;
    color: white;
}
